<!--
*   MARIE Theme
*   https://coding.observer
*   Thank you for using this theme!
*   Follow me @johannesgeisslinger
*-->

<!-- Mobile Menu -->
<div class="mobile">
    <div class="container">

      <div class="menu-toggler"><i class="fas fa-bars"></i></div>
        <div class="logo">
                        <img src="{{@site.logo}}" alt="{{@site.title}}" width="200">
        </div>
    </div>
</div>
<div class="hide-menu"></div>
<!-- End Mobile Menu -->

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="header">                
                        <!-- Logo - Disable for mobile view-->
                        <div class="logo logo-mobile">                            
                                     <img src="{{@site.logo}}" alt="{{@site.title}}">
                        </div>
                        <!-- End Logo -->
                  
                        <!-- Navigation -->
                        {{"navigation"}}
                        <!-- End Navigation -->


                        <div class="fontcontroller">
                            <p>
                                <a class="increase">A+</a>
                                <a class="decrease">A-</a>
                                <a class="reset">R</a>
                            </p>
                        </div>    

                        <button type="button" class="btn theme-switch">
                            <i id="switch" class="fas fa-adjust"></i>
                        </button>


                        
                        <div class="kofi">
                            <a href="https://ko-fi.com/johannes" target="_blank">
                                <button type="button" class="btn btn-light">Donate a <i class="fas fa-coffee"></i></button>
                            </a>                  
                        </div>
                        
            </div>
        </div>

  