<!--
*   MARIE Theme
*   https://coding.observer
*   Thank you for using this theme!
*   Follow me @johannesgeisslinger
*-->

<!-- Mobile Menu -->
<div class="mobile">
    <div class="container">

      <div class="menu-toggler"><i class="fas fa-bars"></i></div>
        <div class="logo">
                        <!-- Check if Logo was uploaded -->
                        {{#if @site.logo}}
                            <img src="{{@site.logo}}" alt="{{@site.title}}" width="200">
                        {{else}}
                            <span>{{@site.title}}</span>
                        {{/if}}
        </div>
    </div>
</div>
<div class="hide-menu"></div>
<!-- End Mobile Menu -->

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="header">                
                        <!-- Logo - Disable for mobile view-->
                        <div class="logo logo-mobile">                                               
                             <!-- Check if Logo was uploaded -->
                            {{#if @site.logo}}
                                <img src="{{@site.logo}}" alt="{{@site.title}}" width="200">
                            {{else}}
                                <span>{{@site.title}}</span>
                            {{/if}}
                        </div>
                        <!-- End Logo -->
                  
                        <!-- Navigation -->
                        {{"navigation"}}
                        <!-- End Navigation -->

                        <!-- Font Controller -->
                        <div class="fontcontroller">
                            <p>
                                <a class="increase">A+</a>
                                <a class="decrease">A-</a>
                                <a class="reset">R</a>
                            </p>
                        </div>    

                        <!-- Theme Mode Switcher-->
                        <button type="button" class="btn theme-switch">
                            <i id="switch" class="fas fa-adjust"></i>
                        </button>

                        <!-- Kofi Button if enabled by Ghost site injection -->
                        <div class="kofi" id="kofi"></div>
                        <script>
                            if(kofi) {
                                let content ='<a href="'+ kofiurl +'" target="_blank"><button type="button" class="btn btn-dark">Donate a <i class="fas fa-coffee"></i></button></a>';
                                document.getElementById('kofi').insertAdjacentHTML('afterbegin', content); 
                            }                                           
                        </script>

                        <!-- Enable Table of Content in case of Post Page-->
                        {{#post}}
                        <hr >
                        <div class="toc"></div>
                        {{/post}}
                         <!-- End TOC -->

            </div>
        </div>

  