{{!--
*   MARIE Ghost Theme
*   https://macn.tech
*   Thank you for using this theme!
*   Follow me on Github @johannesgeisslinger
*--}}


{{!-- Mobiles Menu  --}}
<div class="mobile">
    <div class="container">

      <div class="menu-toggler"><i class="fas fa-bars"></i></div>
        <div class="logo">
                        {{!-- Logo check  --}}
                        {{#if @site.logo}}
                            <img src="{{@site.logo}}" alt="{{@site.title}}" width="200">
                        {{else}}
                            <span>{{@site.title}}</span>
                        {{/if}}

        </div>

        <div class="description-mobil">                          
                {{@site.description}}
        </div>

    </div>
</div>
<div class="hide-menu"></div>
{{!-- END Mobil Menu  --}}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="header">                
                        {{!-- Disable for mobile view  --}}
                        <div class="logo logo-mobile">                                               
                             
                            {{#if @site.logo}}
                                <img src="{{@site.logo}}" alt="{{@site.title}}" width="200">
                            {{else}}
                                <span>{{@site.title}}</span>
                            {{/if}}

                        </div>
                     
                        
                        <div class="description description-screen">
                            
                            {{@site.description}}
                            
                        </div>
                        
                        {{!-- Navigation  --}}
                        {{"navigation"}}
                        

                        {{!--  Social Links via Secondary Navigation --}}
                        <div class="socials">                      
                            {{navigation type="secondary"}} 
                        </div>                  
                        


                        {{!-- Font Controller  --}}
                        <div class="fontcontroller">
                            <p>
                                <a class="increase">A+</a>
                                <a class="decrease">A-</a>
                                <a class="reset">R</a>
                            </p>
                        </div>    

                        {{!-- Theme Switch --}}
                        <button type="button" class="btn theme-switch">
                            <i id="switch" class="fas fa-adjust"></i>
                        </button>

                        {{!-- KOFI Button  --}}
                        <div class="kofi" id="kofi"></div>
                        <script>
                            if(kofi) {
                                let content ='<a href="'+ kofiurl +'" target="_blank"><button type="button" class="btn btn-dark">Donate a <i class="fas fa-coffee"></i></button></a>';
                                document.getElementById('kofi').insertAdjacentHTML('afterbegin', content); 
                            }                                           
                        </script>

                        {{!-- Table of Contents if page = post --}}
                        {{#post}}
                        <hr >
                        <div class="toc"></div>
                        {{/post}}
                        {{!-- End TOC  --}}

            </div>
        </div>

  