{{#if isSecondary}}
    
         {{!-- Styling for Social Links using Fontawesome  --}}
        {{#foreach navigation}}

            <a href="{{url absolute="true"}}"><i class="fab fa-{{label}}"></i></a> 

        {{/foreach}}

{{else}}
   
    {{!--  Main Navigation --}}
    <div class="main-menu">
         <nav>                  
            <ul class="menu-list">
                    {{#foreach navigation}}
                        <li><a href="{{url absolute="true"}}">{{label}}</a></li>
                    {{/foreach}}
             </ul>
        </nav>
    </div>
{{/if}}