<div class="pagination-wrap">
    <ul>
        <li>
                    {{#if prev}}
                        <a class="prev page-numbers" href="{{page_url prev}}">
                    {{else}}
                        <a class="prev page-numbers" href="#"></a>
                    {{/if}}
                        <i class="fas fa-chevron-left"></i>
                    </a>
        </li>
                <li>
                    <span class="page-number">Page {{page}} of {{pages}}</span>
                </li>
        
        <li>
                    {{#if next}}
                        <a class="next page-numbers" href="{{page_url next}}">
                    {{else}}
                        <a class="next page-numbers" href="#"></a>
                    {{/if}}     
                        <i class="fas fa-chevron-right"></i>
                    </a>
        </li>
    </ul>
</div>