<article class="grid-item">

         <div class="post-header"> 
                <h2 class="post-title">
                        <a href="{{url}}">{{title}} </a>
                </h2>
                {{> "meta"}}
        </div>

        {{#if feature_image}}
         <div class="article-image-box">
           <figure>
                 <img class="article-image" src="{{img_url feature_image}}" alt="{{title}}"/>
            </figure>
            </div> 
        {{/if}}

        {{!-- Displays post excerpt. Sets to display max 170 chars if not set --}}
        <div class="post-excerpt resizable">
            <p>{{excerpt characters="170"}}</p>
        </div>

</article>