<!doctype html>
<html lang="{{@site.lang}}">

<head>
    <title>{{meta_title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{!-- Dynamic header content for SEO, meta tags, code injection etc --}}
    {{ghost_head}}

    <link rel="stylesheet" href="{{asset "css/marie.css"}}">
    <link rel="stylesheet" href="{{asset "css/prism.css"}}">
    <link rel="stylesheet" href="{{asset "css/all.css"}}">

</head>

<body class="home line-numbers" data-theme="light">

    <div id="main-content" data-barba="wrapper"> 

        {{> "header"}}
        {{{body}}}
    </div>

    {{> "footer"}}
    {{!-- Dynamic footer content from code injection etc --}}
    {{ghost_foot}}

    <!-- Optional JavaScript -->
    <!-- jQuery Slim first, then Popper.js, then Bootstrap JS -->
    <script src="{{asset "js/masonry.pkgd.min.js"}}"></script>
    <script src="{{asset "js/jquery.min.js"}}"></script>
    <script src="{{asset "js/popper.min.js"}}"></script>
    <script src="{{asset "js/bootstrap.min.js"}}"></script>
    <script src="{{asset "js/scripts.js"}}"></script>
    <script src="{{asset "js/prism.js"}}"></script>
</body>

</html>