{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
<!--
*   MARIE Hugo Theme
*   https://coding.observer
*   Thank you for using this theme!
*   Follow me @johannesgeisslinger
*-->

<div class="col-md-9 col-md-offset-3">

        <div class="tiles">
            {{!-- Iterate through each posts --}}
            {{#foreach posts}}

            <article class="post">
                
      
                    <div class="post-header">
                        <h2 class="post-title">
                            <a href="{{url}}">{{title}} </a>
                        </h2>
                        {{> "meta"}}
                    </div>

                    {{#if feature_image}}
                     <figure class="article-image">
                        <img src="{{img_url feature_image}}" alt="{{title}}"/>
                    </figure>
                    {{/if}}

                    {{!-- Displays post excerpt. Sets to display max 170 chars if not set --}}
                    <div class="post-excerpt resizable">
                        <p>{{excerpt characters="170"}}</p>
                    </div>
                   
            </article>

            {{/foreach}}

            {{pagination}}

        </div>
</div>
</div>
</div>
