{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<!-- Bootstrap responsive Container and preparation for barba -->
<div class="col-md-9 col-md-offset-3 side-collapse-container" data-barba="container">
    <div class="tiles">

        <article class="post" itemtype="http://schema.org/BlogPosting">
            
            <div class="post-header">
                
                <div class="post-title">{{title}}</div>
                {{> "meta"}}
            
            </div>
            
            <div class="post-content">
                
                {{#if feature_image}}
                <figure>
                    <img src="{{img_url feature_image}}" alt="{{title}}" />
                </figure>
                {{/if}}
                
                <!-- Main Post Content -->
                <div class="post-content resizable justify">
                    <p>
                        {{content}} 
                    </p>
                    
                    <div class="post-footer">
                        
                    
                        <p class="m-3">
                            {{tags prefix="Tagged in: " separator="&comma; " limit="3"}}
                        </p>
                        
                    </div>
                    <!-- Post Footer End -->            
                </div>
                <!-- Main Post Content End -->   
            </div>

        {{> "comments"}}


        </article>
        <!-- End Single Post-->

    </div>
</div>
<!-- Container End -->
</div>
</div>
</div>
<!-- End Wrapper Site -->

{{/post}}