{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<!-- Bootstrap responsive Container and preparation for barba -->
<div class="col-md-9 col-md-offset-3 side-collapse-container" data-barba="container">
    <div class="tiles">

        <article class="post" itemtype="http://schema.org/BlogPosting">
            
            <div class="post-header">
                
                <div class="post-title"><h1>{{title}}</h1></div>
                            
            </div>
            
            {{> "meta"}}

            <div class="post-content">
                
                {{#if feature_image}}
                <div class="post-image-container">
                    <figure>
                        <img class="post-image" src="{{img_url feature_image}}" alt="{{title}}" />
                    </figure>
                </div>
                {{/if}}
                
                <!-- Main Post Content -->
                <div class="post-content resizable justify">
                    <p>
                        {{content}} 
                    </p>
                    
                    <div class="post-footer">
                        
                        <hr>
                        <p class="m-3">
                            {{tags prefix="Tags: " separator="&comma; " limit="3"}}<br />
                        </p>
                        
                        <!-- Controls the Icon on the top of the post title. 
                 Add more Icons by adding or replacing lines. 
                 The Icon must use fontawesome FREE 
                  -->
                 <div class="post-header-icon">
                        {{#has tag="javascript"}}<i class="fab fa-js"></i>{{/has}}
                        {{#has tag="html"}}<i class="fab fa-html5"></i>{{/has}}
                        {{#has tag="sass"}}<i class="fab fa-sass"></i>{{/has}}
                        {{#has tag="css"}}<i class="fab fa-css3-alt"></i></i>{{/has}}
                        {{#has tag="nodejs"}}<i class="fab fa-node-js"></i>{{/has}}
                        {{#has tag="python"}}<i class="fab fa-python"></i>{{/has}}
                        {{#has tag="bash"}}<i class="fas fa-terminal"></i>{{/has}}
                        {{#has tag="php"}}<i class="fab fa-php"></i>{{/has}}
                        {{#has tag="microsoft"}}<i class="fab fa-microsoft"></i>{{/has}}
                        {{#has tag="misc"}}<i class="fas fa-glasses"></i>{{/has}}
                        {{#has tag="server"}}<i class="fas fa-server"></i>{{/has}}
                        {{#has tag="network"}}<i class="fas fa-network-wired"></i>{{/has}}
                        {{#has tag="ubuntu"}}<i class="fab fa-ubuntu"></i>{{/has}}
                        {{#has tag="apple"}}<i class="fab fa-apple"></i>{{/has}}
                        {{#has tag="design"}}<i class="fas fa-drafting-compass"></i>{{/has}}
                </div>


                    </div>
                    <!-- Post Footer End -->            
                </div>
                <!-- Main Post Content End -->   
            </div>

        {{> "comments"}}


        </article>
        <!-- End Single Post-->

    </div>
</div>
<!-- Container End -->
</div>
</div>
</div>
<!-- End Wrapper Site -->

{{/post}}